*{
    margin:0;
    padding: 0%;
}

html,body{
    height: 100%;
}

body{
    background-color:#070F2B;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.p1{
    display: grid;
    grid-template-rows: 1fr 5fr 10fr;
    grid-column:1/2;
}

div{
    /* border: 2px solid black; */
}

.p11{
    grid-row:1/2;
}

#search{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search input{
    width: 90%;
    height: 30px;
    margin: auto;
    border-radius: 20px;
    border: none;
    background-color: #535C91;
    color: white;
    font-size: larger;
    padding: 5px;
    padding-left: 20px;
}

#search button{
    margin: auto;
}

.p12{
    grid-row:2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
}

.p12 div{
    margin: 20px;
}

#locAndTemp{
    grid-column:1/2;
}

#currIcon{
    grid-column: 2/3;
    display: flex;
    justify-content: center;
}

#p13{
    grid-row:3/4;
}

#p13 div{
    margin: 20px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    padding: 15%;
    color:white;
    background-color: #1B1A55;
    margin: 10px;
    border-radius: 20px;
}

#p2{
    display: grid;
    grid-template-rows: 4fr 9fr;
    background-color: #9290C3;
    border-radius: 20px;
    margin: 10px;
    color: white;
}

#p21{
    margin: 20px;
    grid-row:1/2;
}

#p22{
    grid-row:2/3;
}

#icon{
    height: 30px;
}

.hourlyicon{
    height: 50%;
}

#hourlyToday div{
    text-align: center;
    color: white;
}